<a href="https://colab.research.google.com/github/sinhatter/US-Class-Divergence-vs-World-Convergence/blob/Divergence/US_Class_Divergence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import files

In [82]:
url = 'https://raw.githubusercontent.com/sinhatter/US-Class-Divergence-vs-World-Convergence/Divergence/Percentage_Income_Quintiles.csv'
df = pd.read_csv(url)

In [83]:
df=df.drop(0)
df=df.drop(1)
df=df.drop(2)
df=df.drop(3)
df=df.drop(4)
df=df.drop(5)
df=df.drop(6)
df.drop('Unnamed: 1', inplace=True, axis=1)

In [84]:
df.columns = ['Year', 'Lowest Fifth', 'Second Fifth', 'Third Fifth', 'Fourth Fifth', 'Highest Fifth', 'Top 5 Percent']

In [85]:
for i in df.iloc[:,0]:
  b=i
  a=b.find("(")
  if(a!=-1):
    b=b[0:a]
  df=df.replace(i,b)
df

,Year,Lowest Fifth,Second Fifth,Third Fifth,Fourth Fifth,Highest Fifth,Top 5 Percent
7,2020,3.0,8.1,14.0,22.6,52.2,23.0
8,2019,3.1,8.3,14.1,22.7,51.9,23.0
9,2018,3.1,8.3,14.1,22.6,52.0,23.1
10,2017,3.0,8.1,14.0,22.6,52.3,23.2
11,2017,3.1,8.2,14.3,23.0,51.5,22.3
12,2016,3.1,8.3,14.2,22.9,51.5,22.6
13,2015,3.1,8.2,14.3,23.2,51.1,22.1
14,2014,3.1,8.2,14.3,23.2,51.2,21.9
15,2013,3.1,8.2,14.3,23.0,51.4,22.2
16,2013,3.2,8.4,14.4,23.0,51.0,22.2
17,2012,3.2,8.3,14.4,23.0,51.0,22.3
18,2011,3.2,8.4,14.3,23.0,51.1,22.3
19,2010,3.3,8.5,14.6,23.4,50.3,21.3
20,2009,3.4,8.6,14.6,23.2,50.3,21.7
21,2008,3.4,8.6,14.7,23.3,50.0,21.5
22,2007,3.4,8.7,14.8,23.4,49.7,21.2
23,2006,3.4,8.6,14.5,22.9,50.5,22.3
24,2005,3.4,8.6,14.6,23.0,50.4,22.2
25,2004,3.4,8.7,14.7,23.2,50.1,21.8
26,2003,3.4,8.7,14.8,23.4,49.8,21.4
27,2002,3.5,8.8,14.8,23.3,49.7,21.7
28,2001,3.5,8.7,14.6,23.0,50.1,22.4
29,2000,3.6,8.9,14.8,23.0,49.8,22.1
30,1999,3.6,8.9,14.9,23.2,49.4,21.5
31,1998,3.6,9.0,15.0,23.2,49.2,21.4
32,1997,3.6,8.9,15.0,23.2,49.4,21.7
33,1996,3.6,9.0,15.1,23.3,49.0,21.4
34,1995,3.7,9.1,15.2,23.3,48.7,21.0
35,1994,3.6,8.9,15.0,23.4,49.1,21.2
36,1993,3.6,9.0,15.1,23.5,48.9,21.0
37,1992,3.8,9.4,15.8,24.2,46.9,18.6
38,1991,3.8,9.6,15.9,24.2,46.5,18.1
39,1990,3.8,9.6,15.9,24.0,46.6,18.5
40,1989,3.8,9.5,15.8,24.0,46.8,18.9
41,1988,3.8,9.6,16.0,24.2,46.3,18.3
42,1987,3.8,9.6,16.1,24.3,46.2,18.2
43,1986,3.8,9.7,16.2,24.3,46.1,18.0
44,1985,3.9,9.8,16.2,24.4,45.6,17.6
45,1984,4.0,9.9,16.3,24.6,45.2,17.1
46,1983,4.0,9.9,16.4,24.6,45.1,17.0
47,1982,4.0,10.0,16.5,24.5,45.0,17.0
48,1981,4.1,10.1,16.7,24.8,44.3,16.5
49,1980,4.2,10.2,16.8,24.7,44.1,16.5
50,1979,4.1,10.2,16.8,24.6,44.2,16.9
51,1978,4.2,10.2,16.8,24.7,44.1,16.8
52,1977,4.2,10.2,16.9,24.7,44.0,16.8
53,1976,4.3,10.3,17.0,24.7,43.7,16.6
54,1975,4.3,10.4,17.0,24.7,43.6,16.5
55,1974,4.3,10.6,17.0,24.6,43.5,16.5
56,1973,4.2,10.4,17.0,24.5,43.9,16.9
57,1972,4.1,10.4,17.0,24.5,43.9,17.0
58,1971,4.1,10.6,17.3,24.5,43.5,16.7
59,1970,4.1,10.8,17.4,24.5,43.3,16.6
60,1969,4.1,10.9,17.5,24.5,43.0,16.6
61,1968,4.2,11.1,17.6,24.5,42.6,16.3
62,1967,4.0,10.8,17.3,24.2,43.6,17.2

In [86]:
url1 = 'https://raw.githubusercontent.com/sinhatter/US-Class-Divergence-vs-World-Convergence/Divergence/UpperLimitofQuintile.csv'
df1 = pd.read_csv(url1)

In [88]:
for i in range(0,8):
  df1=df1.drop(i)

for i in range(56,114):
  df1=df1.drop(i)

for i in df1.iloc[:,0]:
  b=i
  a=b.find("(")
  if(a!=-1):
    b=b[0:a]
  df1=df1.replace(i,b)

df1.drop('Unnamed: 1', inplace=True, axis=1)
df1.columns = ['Year', 'Lowest Fifth', 'Second Fifth', 'Third Fifth', 'Fourth Fifth', 'Top 5 Percent']

df1

      Year Lowest Fifth Second Fifth Third Fifth Fourth Fifth Top 5 Percent
8     2020       27,026       52,179      85,076      141,110       273,739
9     2019       28,084       53,503      86,488      142,501       270,002
10    2018       25,600       50,000      79,542      130,000       248,728
11   2017        24,822       47,218      77,150      126,603       244,088
12    2017       24,638       47,110      77,552      126,855       237,034
13    2016       24,002       45,600      74,869      121,018       225,251
14    2015       22,800       43,511      72,001      117,002       214,462
15    2014       21,432       41,186      68,212      112,262       206,568
16   2013        21,000       41,035      67,200      110,232       205,128
17   2013        20,900       40,187      65,501      105,910       196,000
18    2012       20,599       39,764      64,582      104,096       191,156
19    2011       20,262       38,520      62,434      101,582       186,000
20   2010        20,000       38,000      61,500      100,029       180,485
21   2009        20,453       38,550      61,801      100,000       180,001
22    2008       20,712       39,000      62,725      100,240       180,000
23    2007       20,291       39,100      62,000      100,000       177,000
24    2006       20,035       37,774      60,000       97,032       174,012
25    2005       19,178       36,000      57,660       91,705       166,000
26   2004        18,486       34,675      55,230       88,002       157,152
27    2003       17,984       34,000      54,453       86,867       154,120
28    2002       17,916       33,377      53,162       84,016       150,002
29    2001       17,970       33,314      53,000       83,500       150,499
30   2000        17,920       33,000      52,174       81,766       145,220
31   1999        17,136       31,920      50,384       79,232       142,000
32    1998       16,116       30,408      48,337       75,000       132,199
33    1997       15,400       29,200      46,000       71,500       126,550
34    1996       14,768       27,760      44,006       68,015       119,540
35   1995        14,400       26,914      42,002       65,124       113,000
36   1994        13,426       25,200      40,100       62,841       109,821
37   1993        12,967       24,679      38,793       60,300       104,639
38   1992        12,600       24,140      37,900       58,007        99,020
39    1991       12,591       24,000      37,070       56,759        96,400
40    1990       12,500       23,662      36,200       55,205        94,748
41    1989       12,096       23,000      35,350       53,710        91,750
42    1988       11,382       21,500      33,506       50,593        85,640
43   1987        10,800       20,500      32,000       48,363        80,928
44    1986       10,247       19,600      30,419       45,982        77,106
45   1985         9,941       18,704      28,975       43,578        72,004
46   1984         9,500       17,780      27,393       41,380        68,500
47    1983        8,949       16,640      25,539       38,596        63,500
48    1982        8,400       15,976      24,410       36,400        60,086
49    1981        8,024       15,000      23,200       34,300        55,200
50    1980        7,478       14,024      21,500       31,480        50,661
51   1979         7,000       13,000      20,001       29,000        46,860
52    1978        6,318       11,946      18,075       26,288        42,055
53    1977        5,734       10,800      16,462       24,000        38,000
54   1976         5,405       10,070      15,340       22,070        35,000
55   1975         5,000        9,384      14,180       20,360        32,129
114  1975        21,933       41,164      62,203       89,312       140,939
115  1974        23,071       42,796      63,237       91,778       145,264
116   1973       22,961       44,151      65,326       94,057       151,175
117  1972        22,472       43,280      63,966       91,555       147,347
118  1971        21,718       41,400      60,923       86,870       137,952
119   1970       22,001       42,147      61,302       87,461       138,252
120   1969       22,378       42,940      62,100       87,006       136,456
121   1968       21,728       41,193      59,043       82,962       129,791
122  1967        20,385       39,751      56,419       80,453       129,105